@mixin parrafos 
{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1rem;
        text-align: justify;
        font-weight: bold;
}

.parrafosEstilo{
    @include parrafos;
}