#historia {
	text-align: right;
	color: #2e2e4c;
}
#subNos {
	text-align: right;
}
.subh2{
	color: $color-h2;
}

.ptextN{
	padding: 10 px;
	margin: 20px;
}

.card-titleNos {
    font-size: 30px;
    text-align: center;
  
  }
  