
@import "variables";
@import "logoP";
@import "body";
@import "nav";
@import "footer";
@import "media";
@import "maps";
@import "extend";
@import "mixin";




.titulo {
	color: $color-h1tit;
}
.tituloContact {
	color: $color-h1tit;
	text-align: center;
}

img {
	border-style: none;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

.cardIndex {
	opacity: 0.7;
	text-align: center;
	background-color: $color-card;
}
.card-titleProd {
	text-align: center;
	font-size: 30px;
	color: $color-card;
}
.card-titleUbi {
	text-align: center;
	font-size: 30px;
	color: $color-card;
}
.card-textUbi {
	font-size: 25px;
	font-style: inherit;
	text-decoration: solid;
}
#historia {
	text-align: right;
	color: #2e2e4c;
}
#subNos {
	text-align: right;
}
.subh2{
	color: $color-h2;
}
.card-titleNos {
	font-size: 30px;
	text-align: center;
}
.card-textNos {
	p {
		font-size: medium;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}
}
.vmv {
	width: 50px;
}



.form_wrap {
	width: 70vw;
	margin: 10px auto;
	display: flex;
	background: #fff;
	border-radius: 30px;
	
}
.cantact_info {
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: #4091EC;
		opacity: 0.9;
		border-radius: 30px;
	}
	// width: 38%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-position: center center;
}
.info_title {
	position: relative;
	z-index: 2;
	color: #fff;
	margin-bottom: 60px;
	span {
		font-size: 100px;
		display: block;
		text-align: center;
		margin-bottom: 15px;
	}
	h1 {
		color: $color-h1tit;
		font-size: 35px;
		text-align: center;
	}
}
.info_items {
	position: relative;
	z-index: 2;
	color: #fff;
	p {
		display: flex;
		text-align: left;
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 10px;
		&:nth-child(1) {
			span {
				font-size: 30px;
				margin-right: 15px;
				text-align: center;
				align-items: center;
			}
		}
		&:nth-child(2) {
			span {
				font-size: 30px;
				margin-right: 15px;
				text-align: center;
				align-items: center;
			}
		}
		&:nth-child(3) {
			span {
				font-size: 30px;
				margin-right: 15px;
				text-align: center;
				align-items: center;
			}

		}
	}
}
form.form_contact {
	// width: 62%;
	padding: 30px 40px;
	h2 {
		font-size: 25px;
		font-weight: 600;
		color: $color-h2;
		margin-bottom: 30px;
	}
	.user_info {
		display: flex;
		flex-direction: column;
	}
	label {
		font-weight: 600;
	}
	input {
		width: 90%;
		padding: 8px 0px 5px;
		margin-bottom: 20px;
		border: none;
		border-bottom: 2px solid #D1D1D1;
		font-family: 'Open sans';
		color: #5A5A5A;
		font-size: 14px;
		font-weight: 400;
	}
	textarea {
		width: 80%;
		padding: 8px 0px 5px;
		margin-bottom: 20px;
		border: none;
		border-bottom: 2px solid #D1D1D1;
		font-family: 'Open sans';
		color: #5A5A5A;
		font-size: 14px;
		font-weight: 400;
		max-width: 100%;
		min-width: 100%;
		max-height: 90px;
	}
	input[type="button"] {
		width: 180px;
		background: #4091EC;
		padding: 10px;
		border: none;
		border-radius: 25px;
		align-self: flex-end;
		color: #fff;
		font-family: 'Open sans';
		font-size: 16px;
		font-weight: 600;
		cursor: pointer;
		&:hover {
			background: red;
		}
	}
}
.modal_wrap {
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.7);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
}
.mensaje_modal {
	background: #fff;
	width: 400px;
	padding: 30px 20px 15px;
	h3 {
		text-align: center;
		font-family: 'Ubuntu';
		font-size: 20px;
		font-weight: 400;
		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background: #C5C5C5;
			margin: 10px 0px 15px;
		}
	}
	p {
		font-size: 16px;
		color: #606060;
		&:before {
			content: "\f00d";
			font-family: FontAwesome;
			display: inline-block;
			color: #E25151;
			margin-right: 8px;
		}
	}
}
#btnClose {
	display: inline-block;
	padding: 3px 10px;
	margin-top: 10px;
	background: #E25151;
	color: #fff;
	border: 2px solid #B14141;
	cursor: pointer;
}


